/* this section targets the entire document */
:root {
  /* --primary-color: white;
  --secondary-color: orange; */
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: aquamarine;
}

* {
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
}

/* This is for the header */
.header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.header-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

#header-list-items {
  list-style: none;
  display: inline;
  margin: 0;
  padding: 0;
  display: flex;
}

#header-list-items li {
  margin-right: 30px;
}

#header-list-items a {
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 5px 5px;
}

#header-list-items a:hover {
  background-color: lightcoral;
}

/* this is for the main body */
.main-body {
  height: 100%;
}

#weather-intro {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border: solid 2px black;
}

/* .link-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: solid 2px black;
  height: 500px;
} */

.link-images {
  margin: 2px 2px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 5px 5px;
  align-items: flex-start;
  border: 2px solid black;
  border-radius: 8px;
  opacity:0.5
}

#linkedIn {
  background-image: url(./images/LinkedIn-Logo.png);
  height: 30%;
  width: 30%;
}

#instagram {
  background-image: url(./images/instagram-logo.avif);
}

/* this is for the footer */
.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

/* flex rules */
.flex-row {
  display: flex;
}

/* media queries for small desktop screens and smaller devices*/
@media screen and (max-width: 980px) {
  header {
      padding-bottom: 0;
      justify-content: center;
      position: relative;
  }

  header h1 {
      width: 100%;
      text-align: center;
  }

  header nav ul {
      margin-top: 20px;
      width: 100%;
      justify-content: center;
  }

  header nav ul li a {
      font-size: 20px;
  }

  footer h2, footer div {
      text-align: center;
      width: 100%;
  }

  .hero-cta, .hero-form {
      width: 100%;
  }

  .hero-cta {
      text-align: center;
  }

  .section-title {
      width: 80%;
  }

  .trainer {
      flex: 0 70%;
  }

  .contact-info iframe {
      flex: 1 100%;
  }
}

@media screen and (max-width: 768px) {
  section {
      padding: 30px 15px;
  }

  .step h3 {
      flex: 1 100%;
      text-align: center;
  }

  .step-info {
      flex: 2 100%;
      text-align: center;
      justify-content: center;
  }

  .step-img {
      flex: 0 32%;
      margin-right: 0;
      margin-top: 15px;
      margin-bottom: 15px;
  }

  .ste-txt {
      flex: 100%;
  }
}

@media screen and (max-width: 575px) {
  .hero-form button {
      width: 100%;
  }

  .section-title {
      width: 95%;
  }
  
  .intro p {
      width: 100%;
  }
  
  .trainer {
      flex: 0 100%;
  }
  
  .contact-info {
      text-align: center;
  }
  
  .contact-info > * {
      flex: 0 100%;
  }

  .contact-form {
      order: 3;
  }
}