/* this is for the entire body */
body {
  background-color: aquamarine;
}

/* This is for the header */
.header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.header-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: orange;
  width: 30%;
}

#header-list-items {
  list-style: none;
}