/* this section targets the entire document */
body {
  background-color: aquamarine;
}

/* This is for the header */
.header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.header-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: orange;
}

#header-list-items {
  list-style: none;
  display: inline;
  margin: 0;
  padding: 0;
  display: flex;
}

#header-list-items li {
  margin-right: 30px;
}

#header-list-items a {
  text-decoration: none;
  padding: 8px 16px;
}

#a1:hover {
  background-color: lightcoral;
}

#a2:hover {
  background-color: lightcoral;
}

#a3:hover {
  background-color: lightcoral;
}

/* this is for the main body */
.main-body {
  height: auto;
}

.link-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#linkedin {
  height: 50px;
  width: 50px;
  padding: 8px 16px;
}

/* this is for the footer */
.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}